<html>
<body>
<p>ENTER YOUR DATA</P>
<form  class="create" action="/tables/insert" method="post">
        NAME    :<input type="text" name="name"></br>
        CELLNO  :<input type="number" name="cellno"></br>
        CONTENT :<input type="text" name="content"></br>
        <input type="submit">
</form>
</body>
</html>

