<form class="edit" action="/tables/update" method="post">
<table class="editable">
<tr><td>ID</td><td><input type="text" name="id" value="<%= @tables.id %>"></td></tr>
<tr><td>NAME</td><td><input type="text" name="name" value="<%= @tables.name %>"></td></tr>
<tr><td>CELLNO</td><td><input type="number" name="cellno" value="<%= @tables.cellno %>"></td></tr>
<tr><td>CONTENT</td><td><input type="text" name="content" value="<%= @tables.content %>"></td></tr>
<tr><td></td><td><input type="submit"></td></tr>
</table>
</form>
