// Place all the styles related to the tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.aboutme_form
{
        background:white;
        height:450px;
}
#aboutme_p
{
        text-transform: uppercase;
        text-align:center;
}
.layout_body
{
        background:#00FFFF;
}
.edit
{
        background:white;
        height:450px;
}
.create
{
        background:white;
        height:450px;
}
.create input
{
        margin-right:300px;
}
.homepage
{
        height:450px;
}
