<!DOCTYPE html>
<html>
<head>
  <title>Blog6</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="layout_body">
<div id="header">
	<h1 id="layout_h1">Gobu.R.G</h1>
</div>
<div id="menu">
	 <a href="/tables/aboutme">About</a> 
	|
	 <a href="/tables/setting">Blog</a> 
	|
	 <a href="/tables/create">New comment</a> 
</div>
<div id="container">
	
   <%= yield %> 

</div>
<div id="footer">
	<h5>email :rggobu@gmail.com</h5><h5>cellno : 9916516282</h5>	
</div>

</body>
</html>
